.reaper{
    height: 1000px;
    width: 1000px;
}
.box1{
    width: 35px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 145px;
    left: 92px;
    clip-path: polygon(50% 0%, 19% 100%, 83% 100%);
}
.box2{
    width: 220px;
    height: 400px;
    text-align: center;
    position: fixed;
    clip-path: polygon(53% 16%, 58% 11%, 58% 100%, 36% 100%, 37% 11%, 42% 16%, 48% 10%);
    top: 220px;
    z-index: 2;
    background-color: rgb(67, 148, 0);
}
.box3{
    width: 75px;
    height: 90px;
    background-color: rgb(253, 197, 92);
    position: fixed;
    clip-path: polygon(35% 0, 64% 0, 85% 100%, 21% 100%);
    top: 195px;
    left: 73px;
    z-index: 0;
}